---
import { Image } from "astro:assets";
import ArticleContent from "./ArticleContent.astro";

import drawers from "./assets/drawers.jpg";
---

<div
  class="shadow-gray-blue flex h-[32rem] w-full flex-col overflow-clip rounded-[0.625rem] bg-white shadow-lg md:h-[17.5rem] md:w-[45.625rem] md:flex-row"
>
  <Image
    src={drawers}
    alt="Drawers"
    height={288}
    width={288}
    class="h-full w-full object-cover"
  />
  <ArticleContent />
</div>
