---
import { Image } from "astro:assets";
import ArticleContent from "./ArticleContent.astro";

import drawers from "./assets/drawers.jpg";
---

<div
  class="flex w-full max-w-[21rem] flex-col rounded-xl bg-white shadow-lg shadow-gray-blue lg:h-[17.5rem] lg:w-[45.625rem] lg:max-w-full lg:flex-row"
>
  <Image
    src={drawers}
    height={200}
    alt="Drawers"
    class="h-full w-full rounded-none rounded-t-xl object-cover lg:rounded-none lg:rounded-l-xl"
  />
  <ArticleContent />
</div>
